<style>
    .nav {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        margin-bottom: 10px;
    }
    .nav a {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: blue;
        outline: 1px solid white;
        text-align: center;
        text-decoration: none;
        padding:3%;
        
    }
</style>

<div class="nav">
    <a href="/user/login">Login</a>
    <a href="/user/signup">Signup</a>
    <a href="/new/cup">New Cup</a>
    <a href="/new/beancoffee">New bean coffee</a>
    <a href="/new/shop">New Shop</a>
    <a href="/new/roaster">New Roaster</a>
    <a href="/new/greencoffee">New green coffee</a>
    <a href="/api">API</a>
</div>
