<div class="nav">
    ${
        loggedIn ? 
        `
        <a href="/user/profile">My Profile</a>
        <a href="/user/logout">Log Out</a>
        `
        :
        `
        <a href="/user/login">Log In</a>
        <a href="/user/signup">Sign Up</a>
        `
    }
    <a href="/new/cup">New Cup</a>
    <a href="/new/beancoffee">New Bean Coffee</a>
    <a href="/new/shop">New Shop</a>
    <a href="/new/roaster">New Roaster</a>
    <a href="/new/greencoffee">New Green Coffee</a>
    <a href="/api">API</a>
</div>
