<style>
    * {
        
        font-family: Arial, Helvetica, sans-serif !important;
    }
    .nav {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        margin-bottom: 1%;
    }
    .nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: forestgreen;
        outline: 1px solid white;
        text-align: center;
        text-decoration: none;
        padding:3%;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input-contain {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-item {
        width: 90%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="nav">
    <a href="/user/login">Login</a>
    <a href="/user/signup">Signup</a>
    <a href="/new/cup">New Cup</a>
    <a href="/new/beancoffee">New bean coffee</a>
    <a href="/new/shop">New Shop</a>
    <a href="/new/roaster">New Roaster</a>
    <a href="/new/greencoffee">New green coffee</a>
    <a href="/api">API</a>
</div>
