<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Roaster</title>
</head>
<body>
    <form method="POST">
        <label>
            Roaster Name:
            <input type="text" name="name">
        </label>
        <br>
        <label>
            Location:
            <input type="text" name="location">
        </label>
        <br>
        <label>
            Phone Number:
            <input type="text" name="phone number">
        </label>
        <br>
        <label>
            Website:
            <input type="text" name="website">
        </label>
        <br>
        <input type="submit">
    </form>
</body>
</html>