<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>updateCup</title>
    <style>
        .current {
            font-weight: bold;
        }
    </style>
</head>
<body>
    ${nav}
<form method="POST">
    <div class="input-contain">
        <div class="input-item">
            <label for="didlike">Did you like it? </label>
            <select name="didlike">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br>
        </div>
        <div class="input-item">
            <label for="cost">Cost: </label>
            <input name="cost" type="text">
            <br>
        </div>
        <div class="input-item">
            <label for="brewmethod" placeholder="drip, espresso, pour over, etc.">Brew Method: </label>
            <input name="brewmethod" type="text" value=${theCup.brewmethod}>
            <br>
        </div>
        <div class="input-item">
            <label for="coffeesize" placeholder="12oz, double shot, etc.">Coffee Size: </label>
            <input name="coffeesizes" type="text" value=${theCup.coffeesize}>
            <br>
        </div>
        <div class="input-item">
            <label for="condiments" placeholder="cream, sugar, etc.">Condiments: </label>
            <input name="condiments" type="text" value=${theCup.condiments}>
            <br>
        </div>
        <div class="input-item">
            <label for="name">Name of drink: </label>
            <input name="name" type="text" value=${theCup.name}>
            <br>
        </div>
        <div class="input-item">
            <label for="flavor" placeholder="nutty, fruity, chocolatey, etc.">Flavor: </label>
            <input name="flavor" type="text" value=${theCup.flavor}>
            <br>
        </div>
        <div class="input-item">
            <label for="aroma" placeholder="fruity, floral, etc.">Aroma: </label>
            <input name="aroma" type="text" value=${theCup.aroma}>
            <br>
        </div>
        <div class="input-item">
            <label for="acidity" placeholder="lime, apple, etc.">Acidity: </label>
            <input name="acidity" type="text" value=${theCup.acidity}>
            <br>
        </div>
        <div class="input-item">
            <label for="sweetness" placeholder="honey, brown sugar, etc.">Sweetness: </label>
            <input name="sweetness" type="text" value=${theCup.sweetness}>
            <br>
        </div>
        <div class="input-item">
            <label for="mouthfeel" placeholder="tealike, syrupy, velvety, etc.">Mouth feel: </label>
            <input name="mouthfeel" type="text" value=${theCup.mouthfeel}>
            <br>
        </div>
        <div class="input-item">
        <!-- MAKE COL WIDE -->
        <!-- <textarea name="message" rows="10" cols="30"></textarea> -->
        <label for="comments">Comments: </label>
        <input name="comments" type="text" value=${theCup.comments}>
        <br>
        </div>
        <div class="input-item">
            <label for="score">Score: </label>
            <input name="score" type="number" min="1" max="10" placeholder="1-10" value=${theCup.score}>
            <br>
        </div>
        <!-- TEEEEMPPPPLATTTTEEEE -->
        <div class="input-item">
            ${shopdropdown}
            <br>
        </div>
        <div class="input-item">
            <p class="current">${theBean}</p>
            ${beancoffeedropdown}
            <br>
        </div>
        <div class="input-item">
            <input type="submit" value="send it">
        </div>
    </div>

</form> 

</body>
</html>
