<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Green Coffee</title>
    <style>
        .current {
            font-weight: bold;
        }
    </style>
</head>
<body>
    ${nav}
    <form method="POST">
        <div class="input-contain">
        <div class="input-item">
            <label for="name">Name: </label>
            <p class="current">${GC.name}</p>
            <input type="text" name="name" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="countryoforigin">Country of origin: </label>
            <p class="current">${GC.countryoforigin}</p>
            <input type="text" name="countryoforigin" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="regionoforigin">Region of origin: </label>
            <p class="current">${GC.regionoforigin}</p>
            <input type="text" name="regionoforigin" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="farm">Farm: </label>
            <p class="current">${GC.farm}</p>
            <input type="text" name="farm" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="farmer">Farmer: </label>
            <p class="current">${GC.farmer}</p>
            <input type="text" name="farmer" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="elevation">Elevation: </label>
            <p class="current">${GC.elevation}</p>
            <input type="text" name="elevation" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="varietal">Varietal: </label>
            <p class="current">${GC.varietal}</p>
            <input type="text" name="varietal" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <label for="processingstyle">Processing Style: </label>
            <p class="current">${GC.processingstyle}</p>
            <input type="text" name="processingstyle" placeholder="New Name">
            <br>
        </div>
        <div class="input-item">
            <input type="submit">
        </div>
    </div>
    </form>
</body>
</html>
