<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roasters</title>
    <style>
        .content {
            display: flex;
        }
        .cup-card {
            outline: 2px solid forestgreen;
            margin: 10px;
            padding: 3px;
        }
    </style>
</head>
<body>

    ${nav}
<div class="content">
    ${
        theRoasters.map(roaster=>{
            return `
                <div class="cup-card">
                    <a href="/update/roaster/${roaster.id}">Edit</a>
                    <h2>${roaster.name}</h2>
                    <p>location: ${roaster.location}</p>
                    <p>phonenumber: ${roaster.phonenumber}</p>
                    <p>${roaster.website}</p>
                </div>
            `
        }).join('')
    }
</div>

</body>
</html> 