<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>beancoffee</title>
</head>
<body>
    ${nav}
<form method="POST">
    <label for="name">Name: </label>
    <input name="name" type="text">
    <br>
    <label for="roastProfile">Roast Profile: </label>
    <input name="roastProfile" type="text">
    <br>
    <label for="roasterid">Roaster: </label>
    <select name="roasterid">
        <!-- <option value="starbucks">Starbucks</option>
        <option value="dunkin">Dunkin'</option>
        <option value="folgers">Folgers</option> -->
        <option value="1" selected>Cat Shit</option>
    </select>
    <br>
    <label for="greencoffeeid">Green coffee: </label>
    <select name="greencoffeeid">
        <!-- <option value="starbucks">Starbucks</option>
        <option value="dunkin">Dunkin'</option>
        <option value="folgers">Folgers</option> -->
        <option value="1" selected>Cat Shit</option>
    </select>
    <br>
    
<input type="submit" value="send it">

</form> 

</body>
</html>