<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>newCup</title>
</head>
<body>

<form method="POST">
    <label for="name">Name: </label>
    <input name="name" type="text">
    <br>
    <label for="roastProfile">Roast Profile: </label>
    <input name="roastProfile" type="text">
    <br>
    
    
<input type="submit" value="send it">

</form> 

</body>
</html>