<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Cup</title>
</head>
<body class="bg-light">
    ${nav}
<div class="col-md-8 order-md-1 container">
    <form method="POST">
        <div class="mb-3 descript">
            <h1>Review a New Cup</h1>
            <p>You can record as much or as little as you want to about it.</p>
        </div>
        <div class="formContain">
            <div class="didlike">
                <label for="didLike"><h2>Did You Like It?</h2></label>
                <select name="didLike">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
        <div class="allelse">
            <div class="newcupleft">
                <div class="field">
                <label for="cost">Cost: </label>
                <input name="cost" type="text">
                </div>
                <div class="field">
                    <label for="name">Name of drink: </label>
                    <input name="name" type="text"></div>
                <div class="field">
                    <label for="brewMethod">Brew Method: </label>
                    <input name="brewMethod" type="text" placeholder="drip, espresso, pour over, etc."></div>
                <div class="field">
                    <label for="coffeeSize">Coffee Size: </label>
                    <input name="coffeeSize" type="text" placeholder="12oz, double shot, etc."></div>
                <div class="field">
                    <label for="condiments">Condiments: </label>
                    <input name="condiments" type="text" placeholder="cream, sugar, etc."></div>

                <div class="field">
                    <label for="flavor">Flavor: </label>
                    <input name="flavor" type="text" placeholder="nutty, fruity, chocolatey, etc."></div>
                <div class="field">
                    <label for="aroma">Aroma: </label>
                    <input name="aroma" type="text" placeholder="fruity, floral, etc."></div>
                <div class="field">
                    <label for="acidity">Acidity: </label>
                    <input name="acidity" type="text" placeholder="lime, apple, etc."></div>
                <div class="field">
                    <label for="sweetness">Sweetness: </label>
                    <input name="sweetness" type="text" placeholder="honey, brown sugar, etc."></div>
                <div class="field">
                    <label for="mouthfeel">Mouth feel: </label>
                    <input name="mouthfeel" type="text" placeholder="tealike, syrupy, velvety, etc."></div>
            </div>

            <div class="newcupright">
            <div class="field">
                <label for="comments">Comments: </label>
                <textarea name="comments" rows="5" cols="30"></textarea>
            </div>
            <div class="field">
                
                <label for="score">Score: </label>
                <input name="score" type="number" min="1" max="10" placeholder="1-10">
            </div>
            ${shopdropdown}
            ${beancoffeedropdown}
            <div class="field send">
                
                <input type="submit" value="Submit">
            </div>
        </div>
</div>
</div>
    </form> 
</div>
<!-- Yeah, I'm using bootstrap. sue me. -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
