<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Green Coffee</title>
</head>
<body>
    <form method="POST">
        <label>
            Country of Origin:
            <input type="text" name="countryOfOrigin">
        </label>
        <br>
        <label>
            Region of Origin:
            <input type="text" name="regionOfOrigin">
        </label>
        <br>
        <label>
            Farm:
            <input type="text" name="farm">
        </label>
        <br>
        <label>
            Farmer:
            <input type="text" name="farmer">
        </label>
        <br>
        <label>
            Elevation:
            <input type="integer" name="elevation">
        </label>
        <br>
        <label>
            Varietal:
            <input type="text" name="varietal">
        </label>
        <br>
        <label>
            Processing Style:
            <input type="text" name="processingStyle">
        </label>
        <br>
        <input type="submit">
    </form>
</body>
</html>