<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Roaster</title>
</head>
<body>
    ${nav}
    <form method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <br>
        <label for="location">Location: </label>
        <input type="text" name="location">
        <br>
        <label for="phoneNumber">Phone number: </label>
        <input type="text" name="phoneNumber">
        <br>
        <label for="website">Website: </label>
        <input type="text" name="website">
        <br>
        <input type="submit">
    </form>
</body>
</html>