<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Roaster</title>
</head>
<body>
    ${nav}
    <form method="POST">
        <div class="input-contain">
            <div class="input-item">
                <label for="name">Name: </label>
                <input type="text" name="name">
                <br>
            </div>
            <div class="input-item">
                <label for="location">Location: </label>
                <input type="text" name="location">
                <br>
            </div>
            <div class="input-item">
                <label for="phoneNumber">Phone number: </label>
                <input type="text" name="phoneNumber">
                <br>
            </div>
            <div class="input-item">
                <label for="website">Website: </label>
                <input type="text" name="website">
                <br>
            </div>
            <div class="input-item">
                <input type="submit">
            </div>
        </div>
    </form>
</body>
</html>