<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shop</title>
</head>
<body>
    ${nav}
<form method="POST">
    <label for="name">Name: </label>
    <input name="name" type="text">
    <br>
    <label for="location">Location: </label>
    <input name="location" type="text">
    <br>    
    <label for="phoneNumber">Phone Number: </label>
    <input name="phoneNumber" type="text">
    <br>
    <label for="hours">Hours: </label>
    <input name="hours" type="text">
    <br>
    <label for="website">Website: </label>
    <input name="website" type="text">
    <br>
    
    

<input type="submit" value="send it">

</form> 

</body>
</html>
