<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${username}</title>
</head>
<body>
    ${nav}
    <h1>${username}'s Profile Page</h1>
    <li><a href="/user/cups">My Cups</a></li>
    <li><a href="/new/cup">New Cup</a></li>
    <li><a href="/user/api">View API Key</a></li>
</body>
</html>
