<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${username}</title>
</head>
<body>
    ${nav}
    <h1>${username}'s Profile Page</h1>
    <li><a href="/user/cups">My Cups</a></li>
    <li><a href="/new/cup">New Cup</a></li>
    <li>Your API key: ${apiKey}</li>
    <h2>Edit</h2>
    <li><a href="/update/cups">Cups</a></li>
<li><a href="/update/beancoffee">Bean Coffee</a></li>
<li><a href="/update/shop">Shop</a></li>
<li><a href="/update/roaster">Roaster</a></li>
<li><a href="/update/greencoffee">Green Coffee</a></li>
</body>
</html>
