<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration</title>
</head>
<body>
    <form method="POST">
        <label>
            First Name:
            <input type="text" name="firstname">
        </label>
        <br>
        <label>
            Last Name:
            <input type="text" name="lastname">
            <br>
        </label>
        <br>
        <label>
            Email:
            <input type="text" name="email">
        </label>
        <br>
        <label>
            Username:
            <input type="text" name="username">
        </label>
        <br>
        Password:
        <input type="password" name="password">
        <br>
        <input type="submit">
    </form>
</body>
</html>